<app-navbar></app-navbar>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">FAQ</h1>
    <p class="lead">Here the question for user</p>
  </div>
</div>

<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
               Can admin manage data?
              </a>
            </h4>

          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">YES! Admin have their power to manage data such as ADD, DELETE and UPDATE
</div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                How to manage the data?
              </a>
            </h4>

          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">1. Click home
                                    <br>
                                    2. Select button such as list student or list admin
                                    <br>
                                    3. Now you can manage the data.
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Is the interface is user friendly?
              </a>
            </h4>

          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">ABSOLUTELY! Admin can understand easily in the first look</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
