<app-navbar></app-navbar>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">ABOUT US</h1>
  </div>
</div>
<div class="container">
  <h1 class="display-7">THIS IS FOR ADMIN ONLY. STUDENT CANNOT BE LOGIN HERE.
                        <br>
                        THIS SYSTEM IS USER-FRIENDLY WHICH MEANT ADMIN CAN EASILY
                        <br>
                        ADD, DELETE, UPDATE AND READ THE DATA.
                        <br>
                        <br>
                        <br>
                        <br>
                        MEET MY TEAM
                        <br>
                        AMIR AMZAR BIN ISMAIL - CT203
                        <br>
                        NORNASUHA BINTI ZAKARIA -CT203
                        <br>
                        MUHAMMAD IQBAL HAKEEM BIN AHMAD ZAKI -CT203
  </h1>
</div>

