<app-navbar></app-navbar>
<br>
<br>

<h2>{{title}}</h2>
<button class="button button1" ><a href="adminlist">ADMIN DATA</a></button>
<button class="button button1" ><a href="studentlist">STUDENT DATA</a></button>
<button class="button button1" ><a href="bookinglist">BOOKING DATA</a></button>
<br>
<br>
<button class="button button1"  ><a href="studentadd">ADD DATA</a></button>
<table>
  <thead>
    <th>ID</th>
    <th>EMAIL</th>
    <th>PASSWORD</th>
    <th>ACTION</th>
  </thead>
<tbody>
  <tr *ngFor = 'let stu of stu'>
    <td id="textcent" style="color:black" scope="row" >{{stu.id}}</td>
    <td style="color:black">{{stu.email}}</td>
    <td style="color:black" >{{stu.password}}</td>
    <td>
      <a class="btn btn-sm btn-info" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="onEdit(stu)">Edit</a>
      <a  class="btn btn-sm btn-danger" (click)="delStudent(stu)">Delete</a>
    </td>
  </tr>
</tbody>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ADMIN EDIT DATA</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="text" class="form-control" id="exampleInputPassword1">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="updateAdminDetails()">Save changes</button>
      </div>
    </div>
  </div>
</div>
